body{
    margin:30px ;
    
 }
 
 h2{
     background-color: cornflowerblue;
     color: white;
     font-family: 'Times New Roman', Times, serif
 }

 header{
     text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: large;
 }
 
 
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(54, 98, 155);
  color: rgb(67, 56, 134);
  text-align: center;
}

 a{
     color:white;
     text-decoration: none;
 }

 